<div class="row content">
  <div class="col-md-1 sidenav">
    <ul class="nav nav-pills stacked">
      <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
      <li class="active"><a [routerLink]="['/statistics']">Statistics</a></li>
      <li><a href="#">Ailets</a></li>
      <li><a href="#">Settings</a></li>
      <li><a [routerLink]="['/login']">Logout</a></li>
    </ul>
  </div>
  <div class="col-md-11">
    <h3>Statistics</h3>
    <hr>
    <div class="row content center-block">
      <div class="col-md-2 btn">
        <a href="#">Lorem ipsum</a>
      </div>
      <div class="col-md-2 btn">
        <a href="#">Lorem ipsum</a>
      </div>
      <div class="col-md-2 btn">
        <a href="#">Lorem ipsum</a>
      </div>
    </div>
  </div>
</div>
